{{define "game"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="grille">
            {{range $i, $ligne := .Grid.Board}}
                {{range $j, $case := $ligne}}
                    {{if eq $case "rouge"}}
                        <div class="case-rouge"></div>
                    {{else if eq $case "jaune"}}
                        <div class="case-jaune"></div>
                    {{else}}
                        <div class="case"></div>
                    {{end}}
                {{end}}
            {{end}}
        </div>
</body>
</html>
{{end}}